*{
    margin: 0;
    box-sizing: border-box;
}
p{
    font-size: 1rem;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    background-color: aquamarine;
}
.grid-item{
    background-color: beige;
}
.navbar{
    display: flex;
    flex-direction: row;
    background-color: aqua;
    column-gap: 5px;
    padding: 10px;
    justify-content: space-between;
}
.nav-item{
    background-color: bisque;
}
.nav-item-container{
    display: flex;
    column-gap: 5px;
}
.baimon{
    display: block;
    border: 5px solid #000000;
}